@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./7Auup_AqnyWWAxW2Wk3swUz56MS91Eww8SX25nA.ttf) format('truetype');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./7Auup_AqnyWWAxW2Wk3swUz56MS91Eww8Rf25nA.ttf) format('truetype');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./7Auup_AqnyWWAxW2Wk3swUz56MS91Eww8fvx5nA.ttf) format('truetype');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./7Auup_AqnyWWAxW2Wk3swUz56MS91Eww8cLx5nA.ttf) format('truetype');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(./7Auup_AqnyWWAxW2Wk3swUz56MS91Eww8aXx5nA.ttf) format('truetype');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(./7Auup_AqnyWWAxW2Wk3swUz56MS91Eww8Yzx5nA.ttf) format('truetype');
}
